html {
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

#dots {
    display: flex;
    height: 50px;
    width: 50px;
}

#dot-1 {
  background-color: black;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

#dot-2 {
  background-color: black;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

#dot-3 {
  background-color: black;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

#dot-4 {
  background-color: black;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.login {
    background-color: #4c8bf5;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    width: 80px;
    color: white;
}